/* colores background */

$bgcolor-dark:#000000;
$bgcolor-secondary:rgba(43, 43, 44, 999);
$bgcolor-third:#1d1c1c;
$bordercolor-primary:#c9c9c9;

/*Fuentes*/

$font-stack:'poppins''sans-serif';
$font-colorPrimary:#ffffff;
$font-colorSecond:#ededed;
$font-colorThird:rgb(11, 156, 132);
$font-colorFourth:#000000;
$font-size-S: 12px;
$font-size-M:18px;
$font-size-XL:45px;

/*logos*/

$btn-wpp-color:#00bb2d;

/*medidas*/

$widthM:80%;
$width: 98%;
$maxwidth:100%;
$marginXS: 0.125rem;
$marginS: 0.32rem;
$marginM: 0.95rem;
$columngap: 0;
$row-gap: 0;
$paddingS: 0.625rem;
$heigt:75rem;
$basis: 21.37rem;

/* transiciones */

$transitionLogoRS: 0.5seg;
$trasitioncards: 3seg;